.product-lst {
  padding: 40px 8%;
  font-family: Montserrat;
  font-style: normal;
  letter-spacing: normal;
  font-stretch: normal;
  .product-header {
    display: flex;
    height: 80px;
    justify-content: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    text-align: center;
    color: var(--dark-grey);
    z-index: -1;
  }
  .product-wrap {
    display: flex;
    position: relative;
    .left-warper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 190px;
      position: relative;
      padding-right: 10px;

      .category {
        font-size: 16px;
        line-height: 1.5;
        font-weight: bold;
        padding-bottom: 30px;
      }

      ul {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        padding: 0px;
        line-height: 1.57;
        letter-spacing: -0.1px;
        color: var(--greyish-brown);
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        li {
          list-style-type: none;
          padding-bottom: 18px;
        }
      }
      .small-line {
        width: 101px;
        height: 0.1px;
        margin-bottom: 48px;
        border: solid 0.5px #979797;
      }
      .filter-item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        .wrap-header {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 8px;
          p.not-active {
            margin: 0px;
            font-size: 14px;
            font-weight: normal;
            color: var(--greyish-brown);
          }
        }
        hr {
          width: 100%;
          margin-top: 0;
          margin-bottom: 10px;
        }
        hr.filter-dash-line {
          margin-top: 0px;
          margin-bottom: 10px;
          height: 0.1px;
          width: 100%;
          border-top: 0.5px dashed #cccccc;
        }
      }
    }
    .filter-box-wrapper {
      width: 100%;
      padding-bottom: 20px;
      .size-filter {
        display: flex;
        justify-content: space-between;
        padding-right: 15px;
        align-items: center;
        .size-box-normal {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border: solid 1px #808080;
          display: flex;
          justify-content: center;
          align-items: center;
          // margin-right: 16px;
          p {
            margin: 0;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: var(--dark-grey);
          }
        }
        .size-box-choosen {
          cursor: pointer;
          width: 40px;
          height: 40px;
          background-color: var(--pale-orange);
          display: flex;
          justify-content: center;
          align-items: center;
          // margin-right: 16px;
          p {
            margin: 0;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: var(--white);
          }
        }
      }
    }

    .right-warper {
      width: 100%;
      position: relative;
      height: 32px;
      .header {
        width: 100%;
        display: flex;
        position: absolute;
        align-items: center;
        .sort-by {
          cursor: pointer;
          display: flex;
          // justify-content: center;
          align-items: flex-start;
          font-style: normal;
          font-stretch: normal;
          flex-wrap: wrap;
          flex-direction: column;
          letter-spacing: normal;
          font-size: 12px;

          .up {
            display: flex;
            width: 179px;
            height: 32px;
            border: solid 1px var(--white-four);
            // justify-content: center;
            position: relative;
            align-items: center;
            p {
              margin: 0px;
              padding-left: 15px;
              font-family: Montserrat;
              padding-right: 7px;
              font-weight: 500;
              line-height: 1.83;
              color: var(--greyish-brown);
            }
            p.bold {
              margin: 0px;
              font-family: Montserrat;
              padding-left: 0px;
              font-weight: bold;
              line-height: 1.83;
              color: var(--dark-grey);
            }
            .Arrow {
              position: absolute;
              right: 0px;
            }
            .ArrowRotate {
              position: absolute;
              right: 0px;
              transform: rotate(180deg);
            }
          }
          .down {
            position: absolute;
            top: 34px;
            z-index: 1;
            ul {
              width: 179px;
              padding-left: 0px;
              height: 139px;
              box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
              border: solid 0.5px #eaeaea;
              background-color: #fbfbfb;

              display: flex;
              flex-direction: column;

              li {
                list-style-type: none;
                text-align: left;
                p {
                  padding: 7px 13px;
                  margin-bottom: 0px;
                }
                div {
                  width: 100%;
                  height: 1px;
                  background-color: #ececec;
                }
              }
            }
          }
        }
        .page {
          display: flex;
          align-items: center;
          position: absolute;
          right: 0px;
          .ArrowLeft {
            // position: absolute;
            right: 0px;
            transform: rotate(90deg);
          }
          div {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: center;
            color: var(--dark-grey);
          }
          .ArrowRight {
            // position: absolute;
            right: 0px;
            transform: rotate(270deg);
          }
        }
      }
    }
  }
}
