.quantity-button {
  width: 108px;
  height: 42px;
  padding: 0px 8px;
  justify-content: space-between;
  border: solid 1px var(--white-four);
  display: flex;
  align-items: center;
  img {
    cursor: pointer;
  }
  p {
    margin: 0px;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    color: var(--dark-grey);
  }
}
button#add-to-cart {
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
}
.product-page-wrapper {
  width: 100%;

  .product-top-wrap {
    // text-align: center;
    text-transform: capitalize;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-grey);
  }
  .product-mid-wrap {
    padding: 0px 130px;
    display: grid;
    grid-template-columns: 80px 378px auto 80px;
    .first-col {
      width: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      img {
        max-width: 100%;
        // padding-bottom: 25px;
      }
    }
    .sec-col {
      margin: 0px 70px 0px 20px;
      width: 100%;
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
    .third-col {
      padding: 0px 0px 0px 90px;
      line-height: 1.33;
      letter-spacing: normal;
      color: var(--dark-grey);
      font-style: normal;
      font-stretch: normal;
      .color-wrap {
        display: flex;
        .color {
          width: 30px;
          margin-right: 20px;
          height: 30px;
          border-radius: 50%;
        }
        .color-choosen {
          width: 27px;
          margin-right: 20px;
          height: 27px;
          border-radius: 50%;
          border: 3px solid rgba(0, 0, 0, 0.25);
          border-radius: 18px;
        }
      }
      .product-title {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
      }
      .product-price {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 300;
      }
      .product-review {
        display: flex;
        padding-top: 10px;
        align-items: center;

        .vertical-line {
          margin: 0px 10px 8px 10px;

          width: 0.5px;
          height: 18px;
          border: solid 0.5px #979797;
        }
        .review-num {
          font-size: 12px;
          font-weight: normal;
          margin-bottom: 8px;
        }
      }
      .size-header {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        padding: 26px 0px 9px 0px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: var(--dark-grey);
      }
      .quantity-wrap {
        display: flex;
        padding: 28px 0px 30px 0px;
        align-items: center;
        .header {
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 500;
          padding-right: 21px;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: normal;
          color: var(--dark-grey);
        }
      }
      button {
        width: 429px;
        height: 50px;
        box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
        background-color: #5f6dff;
        color: var(--white);
        font-weight: bold;
        padding: 0;
        margin-bottom: 26px;
      }
      hr {
        width: 429px;
        margin: 0px 0px 25px 0px;
      }
      .model {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: normal;
        color: var(--dark-grey);
      }
      .size-body {
        display: flex;
        justify-content: space-between;
        padding-right: 15px;
        align-items: center;
        flex-wrap: nowrap;
        width: 152px;
        .size-box-normal {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border: solid 1px #808080;
          display: flex;
          justify-content: center;
          align-items: center;
          // margin-right: 16px;
          p {
            margin: 0;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: var(--dark-grey);
          }
        }

        .size-box-choosen {
          cursor: pointer;
          width: 40px;
          height: 40px;
          background-color: var(--pale-orange);
          display: flex;
          justify-content: center;
          align-items: center;
          // margin-right: 16px;
          p {
            margin: 0;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: var(--white);
          }
        }

        .size-box-empty {
          cursor: pointer;
          width: 40px;
          height: 40px;
          // background-color: var(--pale-orange);
          display: flex;
          border: solid 1px var(--white-four);
          justify-content: center;
          align-items: center;
          // margin-right: 16px;
          p {
            margin: 0;
            opacity: 0.3;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: var(--greyish-brown);
          }
        }
      }
    }

    .forth-col {
      width: 100%;
      display: flex;
      flex-flow: column;
      // justify-content: space-between;
      img {
        max-width: 100%;
        // padding-bottom: 25px;
      }
    }
  }
  .review-header-wrapper {
    padding: 32px 130px 28px 130px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .line1 {
      width: 80px;
      height: 0.5px;
      // padding-right: 20px;
      border: solid 0.5px #979797;
    }
    .text {
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      padding: 0px 20px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: var(--dark-grey);
    }
    .line2 {
      width: 85%;
      height: 0.5px;
      border: solid 0.5px #979797;
    }
  }
  .review-body {
    form {
      background-color: #f9f9f9;
      padding: 21px 30px 0px 30px;
      .bottom-wrap {
        display: flex;
        justify-content: space-between;
        .left {
          margin-top: 8px;
          .text {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: #808080;
          }
        }
        .right {
          button {
            padding: 0px;
            margin-top: 9px;
          }
          button#active {
            width: 120px;
            height: 35px;
            background-color: var(--pale-orange);
            border: 0;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 600;
            color: var(--white);
            outline: none;
          }
          button#inactive {
            border: 0;
            outline: none;
            width: 120px;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 600;
            height: 35px;
            opacity: 0.7;
            background-color: var(--white-four);
            color: var(--white);
          }
        }
      }
      ::placeholder {
        color: var(--greyish-two);
      }
      input {
        width: 100%;
        border: none;
        outline: none;
        padding-left: 20px;
        background-color: var(--white);
        box-shadow: inset 1px 1px 3px 0 rgba(159, 159, 159, 0.26);
        color: var(--greyish-brown);
        font-family: Montserrat;
        height: 45px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        margin-bottom: 9px;
      }

      textarea {
        height: 157px;
        font-size: 14px;
        width: 100%;
        border: none;
        outline: none;
        padding: 13px 20px;
        font-family: Montserrat;
        background-color: var(--white);
        box-shadow: inset 1px 1px 3px 0 rgba(159, 159, 159, 0.26);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
      }
    }
    .page-button {
      display: flex;
      margin-right: 0;
      margin-left: auto;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 111px;

      .ArrowLeft {
        // position: absolute;
        right: 0px;
        transform: rotate(90deg);
      }
      div {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        color: var(--dark-grey);
      }
      .ArrowRight {
        // position: absolute;
        right: 0px;
        transform: rotate(270deg);
      }
    }
    padding: 0px 230px 82px 230px;
    .rev-line-long {
      height: 0.1px;
      border: solid 0.5px #cccccc;
      margin: 15px 0px 16px 0px;
    }
    .review-form {
      display: grid;
      grid-template-columns: 180px auto;

      form {
        background-color: #f9f9f9;
        padding: 21px 30px 0px 30px;
        .bottom-wrap {
          display: flex;
          justify-content: space-between;
          .left {
            margin-top: 8px;
            .text {
              font-family: Montserrat;
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.57;
              letter-spacing: normal;
              color: #808080;
            }
          }
          .right {
            button {
              padding: 0px;
              margin-top: 9px;
            }
            button#active {
              width: 120px;
              height: 35px;
              background-color: var(--pale-orange);
              border: 0;
              font-family: Montserrat;
              font-size: 14px;
              font-weight: 600;
              color: var(--white);
              outline: none;
            }
            button#inactive {
              border: 0;
              outline: none;
              width: 120px;
              font-family: Montserrat;
              font-size: 14px;
              font-weight: 600;
              height: 35px;
              opacity: 0.7;
              background-color: var(--white-four);
              color: var(--white);
            }
          }
        }
        ::placeholder {
          color: var(--greyish-two);
        }
        input {
          width: 100%;
          border: none;
          outline: none;
          padding-left: 20px;
          background-color: var(--white);
          box-shadow: inset 1px 1px 3px 0 rgba(159, 159, 159, 0.26);
          color: var(--greyish-brown);
          font-family: Montserrat;
          height: 45px;
          font-size: 16px;
          line-height: 1.5;
          font-weight: 500;
          margin-bottom: 9px;
        }

        textarea {
          height: 157px;
          font-size: 14px;
          width: 100%;
          border: none;
          outline: none;
          padding: 13px 20px;
          font-family: Montserrat;
          background-color: var(--white);
          box-shadow: inset 1px 1px 3px 0 rgba(159, 159, 159, 0.26);
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: normal;
        }
      }

      .name {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: var(--dark-grey);
      }
    }
    .dot-line {
      border-bottom: 0.5px dashed #cccccc;
      width: 100%;
      margin: 15px 0px;
    }
    .review-item-wrap {
      display: grid;
      grid-template-columns: 180px auto;

      .user-info {
        padding-top: 15px;
        .name {
          font-family: Montserrat;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;

          line-height: 1.57;
          letter-spacing: normal;
          color: var(--dark-grey);
        }
        .user-edit-wrap {
          display: flex;
          align-items: center;
          p {
            margin: 0px;
            font-family: Montserrat;
            cursor: pointer;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.83;
            letter-spacing: normal;
            color: var(--dark-grey);
          }
          .horizontal-line {
            width: 0.5px;
            margin: 0px 4px;
            height: 15px;
            border: solid 0.5px #979797;
          }
        }
        .date {
          font-family: Montserrat;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: normal;
          color: #808080;
        }
      }
      .user-review {
        background-color: #f9f9f9;
        padding: 15px 30px 24.5px 20px;
        .rev-title {
          font-family: Montserrat;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: var(--dark-grey);
        }
        .rev-content {
          font-family: Montserrat;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: -0.1px;
          color: var(--greyish-brown);
        }
      }
    }
  }
}

.no-review {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: var(--greyish-two);
}
